body {
	margin: auto;
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(37, 37, 37);
	color: #f0f0f0;
	max-width: 1024px;
	padding: 0 10px;
}
